@import 'reset';
@import 'vars';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

main {
  max-width: 96rem;
  margin: 0 auto;
}

/* STYLE */

body {
  font-family: var(--font-text);
  color: var(--color-text);
  font-size: 1.4rem;
  line-height: 1.3;
  background: url(../assets/images/pattern.jpg) var(--color-secundairy);
  background-blend-mode: multiply;
}

.title {
  font-family: var(--font-title);
  font-size: 3vh;
  line-height: 1.8;
}

.title--header {
  font-size: 6vh;
  text-align: center;
}

.title--footer {
  font-size: 1.6rem;
  padding: 1vh;
}

.subtitle {
  font-family: var(--font-subtitle);
}

.subtitle--footer {
  font-size: 1.2rem;
  line-height: 1.8;
  text-align: center;
}

.text {
  font-family: var(--font-text);
  font-size: 1.4rem;
}

.text--header {
  font-size: 2.25vh;
  line-height: 1.8;
  padding: 2rem;
  text-align: center;
}

.text--footer {
  text-align: center;
}

.text--date {
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 2;
}

.text--paragraph {
  padding: 2rem;
  line-height: 1.8;
  background: white;
}

a {
  text-decoration: none;
  transition: .1s;
  color: var(--color-link);
  cursor: pointer;
}

.link--header {
  font-size: 1.3vw;

  &:hover {
    color: var(--color-primairy-blue);
    cursor: pointer;
  }
}

.link--header--active {
  font-family: var(--font-subtitle);
}

.link--footer {

  &:hover {
    color: var(--color-primairy-blue);
  }
}

.link--date {
  height: 15vh;
  border-radius: 0 0 3rem 3rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  padding: 2rem;
  text-align: center;

  transform: translateY(-4rem);

  &:hover {
    transform: translateY(-2rem);
    cursor: pointer;
  }
}

input {
  border: none;
  border-radius: 2rem;
  outline: none;
}

select {
  border: none;
  background: var(--color-primairy-blue-dark);
  height: 3vh;
  color: white;
  border-radius: 4rem;
  font-family: var(--font-subtitle);
}

.input--footer {
  height: 2.5rem;
  width: 15vw;
  padding: 1rem;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s;

  &:hover {
    transform: scale(1.1);
  }

  &:hover .button--header {
    color: var(--color-primairy-blue);
    background: white;
  }

  &:hover .button--cta {
    color: var(--color-primairy-green);
    background: white;
  }
}

.button {
  border-radius: 2.5rem;
  text-decoration: none;
  font-family: var(--font-button);
  color: white;
}

.button--header {
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  background: var(--color-primairy-blue);
}

.button--cta {
  font-family: var(--font-button);
  font-size: 1.6rem;
  background: var(--color-primairy-green);
  border-radius: 0 3rem 3rem 0;
  color: white;
  padding: 1.65rem 2rem;
  margin-left: -.7rem;
  text-align: left;
}

.button--footer {
  padding: 1rem 2rem;
  background: var(--color-primairy-green);
  margin-left: -5rem;
}

.button--section {
  height: 7.5vh;
  transition: .1s;
  padding: 2rem;
  padding-right: 5rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  &:hover {
    background-color: white;
  }

  &:hover p {
    color: black;
  }
}

.error {
  color: #8c0019;
}

.container--flex {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  padding: 1rem 0;
  align-items: center;
  height: 14vh;
}

/* LAYOUT */

.header {
  display: flex;
  flex-flow: column;

  & .counter {
    text-align: right;
    padding: 1.5rem;
    color: var(--color-primairy-green-dark);
    font-family: var(--font-subtitle);
    background: white;
  }
}

.banner {
  height: 90vh;
  border-radius: 0 0 5rem 5rem;
  order: 1;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/banner.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background: rgba(0, 0, 0, .5);
    z-index: -3;
  }
}

.banner article {
  padding: 10vw;
  text-align: center;

  & header {
    display: flex;
    flex-flow: column;
  }
}

.banner .chart {
  align-self: flex-start;
  display: none;
  align-items: center;
}

.menu {
  display: flex;
  transition: .2s;
}

.menu--primairy {
  position: fixed;
  width: 100vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-25rem);
  z-index: 2;
  padding: 2rem;
  border-radius: 0 0 3rem 3rem;
  background: var(--color-secundairy-dark);

  &::after {
    content: 'menu';
    padding-top: 10vh;
    color: white;
  }

  &:hover {
    transform: translateY(0);
  }

  & .link--header {
    font-size: 2.4rem;
  }
}

.menu--secundairy {
  display: none;

  & .menu-list {
    display: flex;
    justify-content: space-around;
  }
}

footer {
  margin-top: 5rem;
}

footer .top {
  display: flex;
  flex-flow: column;

  & .social {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: white;
    height: 20vh;
    border-radius: 3rem 3rem 0 0;
  }

  & .social ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  & .social img {
    width: 2rem;
    height: 2rem;
    transition: .2s;
    opacity: .5;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  & .newsletter {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primairy-green-dark);
    height: 20vh;
  }
}

footer .bottom {
  background: var(--color-secundairy-dark);
  height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 3rem;
  line-height: 2.5rem;
}

section {
  background: white;
  overflow: hidden;
  margin-top: 5rem;

  & .content {
    padding: 1.5rem 3rem;
  }
}

.uitgelicht, .verhalen {
  border-top: 10px solid var(--color-primairy-blue);
  border-radius: 0 0 4rem 4rem;

  & .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  & .section-item {
    flex-basis: 30%;
    flex-grow: 1;
    min-width: 20rem;
    margin: 1rem .5rem;
  }

  & .list-item {
    height: 25vh;
    border-radius: 3rem;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background-position: center;
    background-size: cover;

    &:hover .item {
      transition: .2s;
      transform: translateY(0);

      &::after {
        opacity: 1;
      }
    }
  }

  & .item {
    width: 100%;
    height: 12rem;
    padding: 2rem;
    transition: .2s;
    transform: translateY(2rem);

    &::after {
      content: 'lees meer';
      position: absolute;
      opacity: 0;
      transition: .2s;
    }
  }
}

.verhalen {
  border-top: 10px solid var(--color-primairy-green);
}

.instafeed {
  border-left: 10px solid var(--color-primairy-yellow);
  border-radius: 0 4rem 4rem 0;
  min-height: 40rem;

  display: flex;
  flex-flow: column;
  justify-content: space-between;

  & .content {
    flex-grow: 2;
  }
}

.organiseren, .steunen {
  border-top: 10px solid var(--color-primairy-blue);
  border-radius: 0 0 4rem 4rem;
}

.steunen {
  border-top: 10px solid var(--color-primairy-yellow);
}

.programma {
  border-radius: 3rem 3rem 0 0;
  border-top: 0;
  border-bottom: 10px solid var(--color-primairy-blue);

  & .programma-filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  & .filter-select {
    background: var(--color-secundairy);
    color: var(--color-primairy-blue-dark);
    outline: none;
    flex-grow: 2;
    margin: .5rem;
  }

  & .filter-input {
    color: var(--color-primairy-blue-dark);
    padding: .7rem;
    border-radius: .5rem;
    outline: none;
    flex-grow: 2;
    margin: .5rem;
  }

  & .filter-submit {
    background: var(--color-primairy-blue-dark);
    color: white;
    font-style: var(--font-subtitle);
    transition: .2s;
    flex-grow: 1;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.event {

  & .text--small {
    font-size: 1rem;
  }

  & img {
    width: 100%;
    border-radius: 0 0 3rem 3rem;
  }
}

.event-header {
  display: flex;
  flex-flow: column;
}

.event-date {

  & span {
    font-size: 5vw;
  }

  &.month {
    font-size: 2rem;
  }
}

.event-time {
  font-size: 1.2rem;
  padding-top: 1rem;
}

.event-link {
  font-size: 1.2rem;
}

.event-organisers {
  display: flex;
  flex-wrap: wrap;

  & .event-organiser {
    padding: .5rem;
    padding-left: 0;
    font-size: 1.2rem;
    opacity: .5;
  }
}

.event-location {
  padding: 2rem 0;
}

.event-tags {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;

  & .event-tag {
    padding: .5rem 1rem;
    margin: .5rem;
    font-size: 1.2rem;
    opacity: .7;
    border-radius: .5rem;
    background: var(--color-primairy-blue-dark);
    transition: .2s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.event-info {
  order: 1;
}

.event-image {
  height: 20vh;
  border-radius: 0 0 3rem 3rem;
  background-position: center;
  background-size: cover;
}

.event-article {
  padding: 3rem 2rem;
  line-height: 1.8;
  text-align: justify;
}

.event-title {
  padding-bottom: 2rem;
}

/* RESPONSIVE */

@media only screen and (min-width: 320px) {

  .home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      'uitgelicht'
      'verhalen'
      'instafeed'
      'organiseren'
      'steunen';
  }

  .uitgelicht {
    grid-area: uitgelicht;
  }

  .verhalen {
    grid-area: verhalen;
  }

  .instafeed {
    grid-area: instafeed;
  }

  .organiseren {
    grid-area: organiseren;
  }

  .steunen {
    grid-area: steunen;
  }

  main {
    padding: 2rem;
  }
}

@media only screen and (min-width: 768px) {

  .home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    grid-template-areas:
      'uitgelicht uitgelicht'
      'verhalen verhalen'
      'instafeed instafeed'
      'organiseren steunen';
  }

  .banner {
    margin-top: -15vh;

    & .chart {
      display: flex;
    }

    &::after {
      height: 87.5vh;
    }
  }

  .menu--primairy {
    position: relative;
    height: 12.5vh;
    transform: translateY(0);
    background: none;

    &::after {
      content: '';
    }

    & .menu-list {
      display: flex;
      justify-content: space-around;
    }

    & .link--header {
      font-size: 1.8rem;
      padding: 1rem;
    }
  }

  .menu--secundairy {
    display: flex;
    justify-content: center;
  }

  footer .top {
    flex-flow: row;
    max-width: 96rem;
    margin: 0 auto;
    height: 20vh;

    & .social {
      flex-basis: 50%;
      border-radius: 3rem 0 0;
      background: white;
    }

    & .newsletter {
      flex-basis: 50%;
      border-radius: 0 3rem 0 0;
    }
  }

  .subtitle--footer {
    text-align: left;
  }

  .rightAligned {
    text-align: right;
  }

  .text--footer, h5 {
    text-align: left;
  }

  footer .bottom {
    flex-flow: row;
    height: 30vh;
    justify-content: center;

    & div {
      padding: 5rem;
    }
  }

  section {
    margin-top: 0;
  }

  .verhalen .list {
    flex-flow: column;
  }

  .verhalen .list-item {
    height: 10rem;
    overflow: hidden;

    &:hover .item {
      transition: .2s;
      transform: translateX(0);

      &::after {
        opacity: 1;
      }
    }
  }

  .verhalen .item {
    width: 90%;
    padding: 2rem;
    padding-left: 15rem;
    transition: .2s;
    transform: translateX(-12rem);

    display: flex;
    flex-flow: column;
    justify-content: center;

    &::after {
      content: 'lees meer';
      position: absolute;
      opacity: 0;
      margin-left: -10rem;
      transition: .2s;
    }
  }

  .event-header {
    flex-flow: row;
    background: red;
  }

  .event-info {
    max-width: 20rem;
    order: 0;
  }

  .event-image {
    height: 50vh;
  }

  .event-beschrijving {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {

  .home-container {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 4fr;
    grid-gap: 5rem;
    grid-template-areas:
      'uitgelicht uitgelicht uitgelicht uitgelicht'
      'instafeed verhalen verhalen verhalen'
      'organiseren organiseren steunen steunen';
  }

  footer .bottom {
    border-radius: 5rem 5rem 0 0;
  }
}

@media only screen and (min-width: 1440px) {

  .menu-list {
    width: 70vw;
  }
}

/* MODIFIERS */

.hidden {
  display: none;
}

.menu--show {
  background: var(--color-secundairy-dark);
}

.orderSwapped {
  order: -1;
}

.overflowHidden {
  overflow: hidden;
}

.blue {
  color: var(--color-primairy-blue);
}

.yellow {
  color: var(--color-primairy-yellow);
}

.green {
  color: var(--color-primairy-green);
}

.white {
  color: white;
}

.blueDark {
  color: var(--color-primairy-blue-dark);
}

.grey {
  color: var(--color-secundairy);
}

.bgBlue {
  background: var(--color-primairy-blue);
}

.bgYellow {
  background: var(--color-primairy-yellow);
}

.bgGreen {
  background: var(--color-primairy-green);
}

.bgBlueDark {
  background: var(--color-primairy-blue-dark);
}

.bgYellowDark {
  background: var(--color-primairy-yellow-dark);
}

.bgGreenDark {
  background: var(--color-primairy-green-dark);
}

/* ANIMATION */
