:root {
  /* COLOR PALLET  */
  --color-primairy-blue: #4cb4fc;
  --color-primairy-blue-dark: #285b7e;
  --color-primairy-yellow: #fee556;
  --color-primairy-yellow-dark: #f5ad2f;
  --color-primairy-green: #a1cb30;
  --color-primairy-green-dark: #65820f;
  --color-secundairy: #d8d8d8;
  --color-secundairy-dark: #303030;
  --color-text: #121212;
  --color-link: white;
  --color-background: #d8d8d8;

  /* TEXT VARIATIONS */
  --font-title: cocogoose;
  --font-subtitle: gotham;
  --font-text: gotham light;
  --font-button: gotham;
}
